---
import WrapLink from '@components/link/WrapLink.astro';
import { formFieldLabel } from '@lib/classes';

interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<WrapLink
    href={`/ramblings/tags/${tag}`}
    class="border border-ctp-subtext0 px-1 border-dashed rounded-lg hover:bg-ctp-surface0 transition-colors duration-300"
>
    <p class={formFieldLabel}># {tag}</p>
</WrapLink>
