---
import GuestbookView from '@client/guestbook/GuestbookView.vue';
import IconButton from '@components/link/IconButton.astro';
import Page from '@layouts/Page.astro';
---

<Page title="guestbook :3" description="u should put smth here once uve looked at everything ^w^">
    <div><IconButton icon="pencil" text="sign the guestbook :3" url="/guestbook/sign" /></div>

    <hr class="border border-dashed border-ctp-crust my-2" />

    <GuestbookView client:only />
</Page>
