---
import { TOC_SIDEBAR_CLASSES } from '@/consts';
import MarkdownProse from '@components/markdown/MarkdownProse.astro';
import MarkdownTableOfContents from '@components/markdown/MarkdownTableOfContents.astro';
import Page from '@layouts/Page.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map(page => ({
        params: { slug: page.id },
        props: page
    }));
}

type Props = CollectionEntry<'pages'>;

const page = Astro.props;
const { Content, headings } = await render(page);
---

<Page title={page.data.title} description={page.data.description}>
    <section>
        <div class:list={TOC_SIDEBAR_CLASSES}>
            <MarkdownTableOfContents headings={headings} articleTitle="uses" />
            <MarkdownProse><Content /></MarkdownProse>
        </div>
    </section>
</Page>
