---
import Base from "../layouts/Base.astro";
---

<Base
	title="the capitalist web and its consequences"
	description="the free and open web has been utterly perverted by the interests of merchants. the normies have gone largely unaware of this, and that was entirely on purpose. you need to know what has been taken away from you for you will discover you have been living in the hells of rot"
>
	<article
		class="prose prose-ctp max-w-none prose-img:rounded-lg prose-img:drop-shadow-md mt-4"
	>
		<p>
			this is a generalized document describing general grievances, if you
			want rants, head <a href="/ramblings/tags/manifesto">here</a>
		</p>
		<section>
			<h2 id="preamble">preamble</h2>
			<p>
				the internet was once a free and open world where you could be
				anyone or anything and just simply be and it was fun and you
				could just explore who people were without being at the whims of
				a single Brain Soupifying Surface. unless you don't remember
				that. right you're a normie. you don't. that is on purpose. the
				Great Internet Merchant Complex has made sure of this. they have
				destroyed what made the internet and computing great in the name
				of the frivolous pursuit of "fiduciary duty". the internet was
				once this magnificent and weird place where people felt free to
				be themselves, and they actually owned the files on their
				computer, an era normies have given up too easily. in exchange
				for what exactly? the normies have not explained what they
				gained out of this monstorous trade
			</p>
		</section>
		<section>
			<h2 id="s1">section 1: realname policies</h2>
			<p>
				before the advent of <i>facebook</i>, real names were not
				commonly present on the internet. myspace for example was a
				website entirely built on psuedonymity. no one knew you as john
				smith unless you felt like you wanted your public presentation
				to BE john smith
			</p>
			<p>
				<i>facebook</i>, being a harvard university project, felt like
				the concept of psuedonymity on the internet was the greatest
				mistake to ever exist. for a post grad university world, real
				name social media makes absolute sense. zucc did not stop at
				harvard
			</p>
			<p>
				<i>facebook</i> has convinced millions or even billions of normies
				that they cannot be on the internet without the exchange of their
				legal name. this is important not just for the later bits, but just.
				immediately. here are a few reasons of why this is a disaster:
			</p>
			<ul>
				<li>
					it actively harms trans people. a trans person wishing to
					use <i>facebook</i> whose IRLs are in fact not supportive of trans
					folx is stuck between:<br />a) never having an account that
					represents THEM on <i>facebook</i> and thus remaining exposed
					to their deadname while using it,<br /> b) renaming their current
					account and outing themselves to people who may physically put
					them in danger,<br />c) attempting to create a new account
					for their authentic self and either ONE of these accounts
					gets removed and requires an ID that may not exist to be
					re-enabled, or<br />
					d) they simply cannot use facebook in the way they choose
				</li>
				<li>
					these same options also apply to:<br />a) victims of
					domestic violence<br />b)victims of stalking<br />c) victims
					of abuse
				</li>
				<li>
					the realname policy also means a drag performer or content
					creator is left with no recourse for having a presence
					either. <i>facebook</i> "attempted" to solve this with the ever-confusing-ux
					of pages and later "professional mode"
				</li>
				<li>
					the algorithm used to decide whether a name is "real" is
					controlled by <i>facebook</i> and cannot be audited. as with any
					algorithmic decision system that decides on human lives, it is
					biased. there have been numerous instances of native americans
					or asian folx denied a
					<i>facebook</i> account because <i>facebook</i>'s' ai
					decided they were not a real person
				</li>
				<li>
					sex workers are ALSO affected by this, as it is near
					impossible to have a sex work identity under SESTA-FOSTA, as
					if it is reported as a "fake name", ID verification is
					required, meaning their oppression becomes easier
				</li>
			</ul>
			<p>
				the damage went beyond preventing large swathes of people unable
				to use the internet safely, but also majorily destroyed the
				culture of the internet. if an employer can see everything
				you've done on the internet, people feel more afraid to be fun
				or quirky or themselves, and they mutanize themselves into a
				caricture meant for capitalism's consumption. real name policies
				are actively destroying your personality. not kidding. think
				about it. people no longer feel as free to express interests or
				hobbies or similar to the wider internet in fear of being judged
				by employers
			</p>
			<h3>
				read more here (i am not qualified on sesta-fosta sorry i am a
				trans girlie with opinons on protocols):
			</h3>
			<ul>
				<li>
					<a
						href="https://www.eff.org/deeplinks/2018/12/congress-censors-internet-eff-continues-fight-fosta-2018-review"
						>the EFF on SESTA-FOSTA (1)</a
					>
				</li><li>
					<a
						href="https://www.eff.org/deeplinks/2022/09/fight-overturn-fosta-unconstitutional-internet-censorship-law-continues"
						>the EFF on SESTA-FOSTA (2)</a
					>
				</li>
			</ul>
		</section>
		<!-- <section>
			<h2 id="s2">section 2: whatsapp</h2>
			<p>
				whatsapp is a closed source messaging app owned by... facebook.
				cant believe they're still here to mess with us. whatsapp
				promises your messages are end to end encrypted using the signal
				protocol
			</p>
			<p>sounds good right? right?</p>
			<p>WRONG. heres why:</p>
			<ul>
				<li>
					it is owned by facebook, the company where you are the
					product
				</li>
				<li>it is also closed source</li>
			</ul>
			<p>
				a closed source "end to end encryption" implementation is an
				e2ee implementation you cannot meaningfully audit. for all we
				know the "E2EE" badge could be a LIE and whatsapp is just.
				plaintext entirely.
			</p>
			<p>
				even if they were NOT plaintext and it was genuine E2EE,
				facebook is a metadata aggregation company, and whatsapp is
				metadata, naturally. you know where this goes. they sell the
				metadata. or a prediction model based on it. which. if we're
				being not corporate, is the same thing
			</p>
			<p>
				also your backup is not encrypted. just felt that needs
				mentioning
			</p>
			<p>use signal, for the love of linus torvalds</p>
		</section>
		<section>
			<h2 id="s3">section 3: discord</h2>
			<p>
				discord is ANOTHER closed source messaging app. it does not
				promise E2EE. actually it does. for voice and video only. not
				text.
			</p>
			<p>
				discord, as with ANY Internet Merchant Service, requires
				constant enshittification, their enshittification choices being:
			</p>
			<ul>
				<li>
					<a
						href="https://support.discord.com/hc/en-us/articles/4403147417623-Custom-Profiles#h_01JPQMW5K368G5FEM7NWNRMW01"
						>your friends profile is now a casino with a person
						attached</a
					>
				</li>
				<li>
					<a
						href="https://support.discord.com/hc/en-us/articles/36288192746903-Wishlist-FAQ"
						>the monetization of social obligation</a>
				</li>
				<li>
					<a
						href="https://support.discord.com/hc/en-us/articles/30408457944215-Nameplates-FAQ"
						>even MORE casino</a>
				</li>
				<li>
					<a
						href="https://support.discord.com/hc/en-us/articles/33833879643927-Discord-Display-Name-Styles-FAQ"
						>a very unreadable one</a>
				</li>
				<li>
					<a
						href="https://support.discord.com/hc/en-us/articles/22225719947543-Discord-Quests-FAQ"
						>of course, they had to add The Brain Soupifying Surface</a>
				</li>
			</ul>
			<p>i literally have to use a custom client just to disable all the profile slop (nameplates, display name styles, avatar decorations, profile effects) or else i literally feel overwhelmed by a CHAT APPLICATION. sit with that. thanks</p>
			<p>matrix has no such troubles, as long as you remember your recovery key but thats easier to do when element x is a chat app not a casino</p>
		</section> -->
	</article>
</Base>
