---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import RamblingDate from '../../components/RamblingDate.astro';
import RamblingProse from '../../components/RamblingProse.astro';
import RamblingTableOfContents from '../../components/RamblingTableOfContents.astro';
import { RAMBLING_SIDEBAR_TOC } from '../../consts';
import Page from '../../layouts/Page.astro';

export async function getStaticPaths() {
    const ramblings = await getCollection('ramblings');
    return ramblings.map(rambling => ({
        params: { slug: rambling.id },
        props: rambling
    }));
}
type Props = CollectionEntry<'ramblings'>;

const rambling = Astro.props;
const { Content, headings } = await render(rambling);
---

<Page title={rambling.data.title} description={rambling.data.description}>
    <section>
        <div class="mb-5">
            <RamblingDate {...rambling} />
        </div>
        <div class:list={RAMBLING_SIDEBAR_TOC}>
            <RamblingTableOfContents headings={headings} />
            <RamblingProse><Content /></RamblingProse>
        </div>
    </section>
</Page>
