---
import RamblingDate from '@components/rambling/RamblingDate.astro';
import Tag from '@components/rambling/Tag.astro';
import MarkdownWithTOC from '@layouts/MarkdownWithTOC.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const ramblings = await getCollection('ramblings');
    return ramblings.map(rambling => ({
        params: { slug: rambling.id },
        props: rambling
    }));
}

type Props = CollectionEntry<'ramblings'>;

const rambling = Astro.props;
const { Content, headings } = await render(rambling);
---

<MarkdownWithTOC title={rambling.data.title} description={rambling.data.description} headings={headings}>
    <div class="mb-5" slot="extra">
        <div class="mt-2">
            <RamblingDate {...rambling} />
        </div>
        <div class="mt-3 flex flex-row gap-2">
            {
                rambling.data.tags?.map(tag => (
                    <Tag tag={tag} />
                ))
            }
        </div>
    </div>
    <Content />
</MarkdownWithTOC>
