---
import { RSS_DESCRIPTION, RSS_TITLE } from '@/consts';
import IconLink from '@components/link/IconLink.astro';
import Rambling from '@components/rambling/RamblingCard.astro';
import Page from '@layouts/Page.astro';
import { getCollection } from 'astro:content';

const ramblings = (await getCollection('ramblings')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page title={RSS_TITLE} description={RSS_DESCRIPTION}>
    <div class="my-2">
        <IconLink text="view by tags" icon="label" url="/ramblings/tags/" />
    </div>
    <section>
        <ul class="flex flex-col md:grid-cols-2 gap-2">
            {ramblings.map(rambling => <Rambling rambling={rambling} />)}
        </ul>
    </section>
</Page>
