---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Base from "../../layouts/Base.astro";
import Rambling from "../../components/Rambling.astro";

const posts = (await getCollection("ramblings")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base title="amelia's ramblings">
	<section>
		<ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
			{[...posts].map((rambling) => <Rambling rambling={rambling} />)}
		</ul>
	</section>
</Base>
