---
import { container, headerName, text } from '@lib/classes';

const links = [
    { name: ':3', url: '/' },
    { name: 'ramblings', url: '/ramblings' },
    { name: 'uses', url: '/uses' }
];

const isActiveURL = (href: string) => {
    const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
    const subpath = pathname.match(/[^\/]+/g);
    const isActive = href === pathname || href === '/' + (subpath?.[0] || '');

    return isActive;
};
---

<header>
    <nav
        class:list={[
            container,
            'flex flex-col gap-2 items-center justify-center select-none lg:flex-row lg:justify-between lg:items-center'
        ]}
    >
        <h2>
            <a href="/" class={headerName}>amelia :3</a>
        </h2>
        <ul
            class="flex flex-row p-2 rounded-md bg-ctp-mantle border border-dashed border-ctp-subtext0 divide-x-2 divide-ctp-subtext0 divide-dashed"
        >
            {
                links.map((url, index) => {
                    const active = isActiveURL(url.url);

                    return (
                        <li>
                            <a
                                href={url.url}
                                class={text({
                                    color: active ? 'accent' : 'primary',
                                    weight: 'medium',
                                    hover: 'underline',
                                    size: 'lg',
                                    class: 'px-2',
                                    customOutline: true
                                })}
                                transition:name={`header-link-${index}`}
                                transition:animate="fade"
                            >
                                {url.name}
                            </a>
                        </li>
                    );
                })
            }
        </ul>
    </nav>
</header>
