---
import { body, link } from '@lib/classes';
import type { MarkdownHeading } from 'astro';

interface Props {
    heading: MarkdownHeading;
}

const { heading } = Astro.props;
---

<li>
    <a href={`#${heading.slug}`} class={`${body} ${link}`} style={`margin-left: calc(2rem * ${heading.depth - 2});`}>
        {heading.text === 'Footnotes' ? heading.text.toLowerCase() : heading.text}
    </a>
</li>
