---
import TOCItem from '@components/markdown/MarkdownTOCItem.astro';
import type { MarkdownHeading } from 'astro';
import { Icon } from 'astro-icon/components';

interface Props {
    headings: MarkdownHeading[];
}
---

<aside
    class:list={[
        'select-none',
        'xl:sticky xl:top-2 xl:self-start xl:h-fit xl:overflow-y-auto xl:max-h-screen xl:pb-4',
        'max-xl:w-[50%]'
    ]}
>
    <details class="border-2 border-ctp-pink marker:hidden rounded-lg xl:mx-3">
        <summary class="flex items-center justify-between gap-2 cursor-pointer bg-ctp-pink p-2">
            <div class="flex gap-2 items-center">
                <Icon name="mdi:table-of-contents" class="text-ctp-crust" size="24" />
                <p class="text-ctp-crust font-semibold">table of contents</p>
            </div>
            <Icon
                name="mdi:chevron-down"
                class="transition-all duration-300 text-ctp-crust"
                size="16"
                id="toc-chevron"
            />
        </summary>
        <ol class="bg-ctp-mantle p-3 rounded-lg" id="initial">
            <div>
                {Astro.props.headings.map(heading => <TOCItem heading={heading} />)}
            </div>
        </ol>
    </details>
</aside>
