body {
    background: var(--base);
    color: var(--text);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 10px 0;
}

.trans {
    display: flex;
    width: 100vw;
    margin: 0;

    > div {
        height: 1vh;
        width: 20vw;
    }

    > .blue {
        background-color: var(--sapphire);
    }
    
    > .pink {
        background-color: var(--pink);
    }
    
    > .white {
        background-color: #f5f5f5;
    }
}

header, footer {
    background-color: var(--mantle);
    padding: 25px 0;
}

.container {
    max-width: 62.5vw;
    margin: 0 auto;
}

@media (max-width: 690px) { 
    .container {
        margin: 10px;
    }
}