---
import { AUTO_MARGIN } from '@/consts';
import HeaderLink from '@components/HeaderLink.astro';

const links = [
    { name: ':3', url: '/' },
    { name: 'ramblings', url: '/ramblings' },
    { name: 'uses', url: '/uses' }
];
---

<header>
    <nav class:list={[AUTO_MARGIN, 'flex flex-col gap-2 items-center justify-center select-none']}>
        <h2>
            <a href="/" class="text-xl md:text-3xl text-ctp-pink font-bold text-shadow-ctp-crust">amelia :3</a>
        </h2>
        <div class="flex flex-row p-2 rounded-md bg-ctp-mantle border border-dashed border-ctp-subtext0">
            <span>[</span>
            <ul class="flex flex-row divide-x-2 divide-ctp-subtext0 divide-dashed">
                {
                    links.map(url => (
                        <li>
                            <HeaderLink
                                href={url.url}
                                inactiveClass="text-ctp-subtext0 font-semibold"
                                class="hover:text-ctp-subtext1 transition-colors transition-400 p-2"
                                activeClass="text-ctp-pink font-bold"
                            >
                                {url.name}
                            </HeaderLink>
                        </li>
                    ))
                }
            </ul>
            <span>]</span>
        </div>
    </nav>
</header>
