<div class="drop-shadow-md">
    <div class="grid grid-cols-5">
        <div class="h-4 bg-ctp-sapphire"></div>
        <div class="h-4 bg-ctp-pink"></div>
        <div class="h-4 bg-ctp-base latte"></div>
        <div class="h-4 bg-ctp-pink"></div>
        <div class="h-4 bg-ctp-sapphire"></div>
    </div>
</div>
