---
import { RAMBLINGS_RSS_DESCRIPTION, RAMBLINGS_RSS_TITLE } from '@lib/consts';
import IconLink from '@components/link/IconLink.astro';
import Rambling from '@components/rambling/RamblingCard.astro';
import Page from '@layouts/Page.astro';
import { getCollection } from 'astro:content';
import { caption } from '@lib/classes';
import Divider from '@components/formatting/Divider.astro';

const ramblings = (await getCollection('ramblings')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page title={RAMBLINGS_RSS_TITLE} description={RAMBLINGS_RSS_DESCRIPTION}>
	<div class="flex flex-col lg:flex-row gap-3 lg:gap-2 lg:items-center">
		<IconLink text="view by tags" icon="label" url="/ramblings/tags/" />
		<p class:list={[caption, 'max-lg:hidden']}>•</p>
		<IconLink text="subscribe via rss" icon="rss" url="/rss.xml" />
	</div>
	<Divider />
	<section>
		<ul class="flex flex-col md:grid-cols-2 gap-2">
			{ramblings.map(rambling => <Rambling rambling={rambling} />)}
		</ul>
	</section>
</Page>
