---
import '@/styles/global.css';
import LatestStatus from '@client/statuses/LatestStatus.vue';
import Container from '@components/formatting/Container.astro';

import BaseHead from '@components/base/BaseHead.astro';
import Footer from '@components/base/Footer.astro';
import Header from '@components/base/Header.astro';

interface Props {
    title?: string;
    description?: string;
}
---

<!doctype html>
<html lang="en" class="mocha">
    <head>
        <BaseHead {...Astro.props} />
        <slot name="head" />
    </head>
    <body
        class="min-h-dvh w-screen bg-linear-to-br from-ctp-mantle via-ctp-crust to-ctp-mantle selection:bg-ctp-pink selection:text-ctp-crust"
    >
        <div class="drop-shadow-md macchiato">
            <div class="grid grid-cols-5">
                <div class="h-4 bg-ctp-sapphire"></div>
                <div class="h-4 bg-ctp-pink"></div>
                <div class="h-4 bg-ctp-base latte"></div>
                <div class="h-4 bg-ctp-pink"></div>
                <div class="h-4 bg-ctp-sapphire"></div>
            </div>
        </div>

        <div class="h-full macchiato">
            <Container class="my-3" transition:persist>
                <Header />
            </Container>

            <Container transition:persist>
                <LatestStatus client:only />
            </Container>

            <Container class="mt-3 mb-5">
                <slot name="left" slot="left" />
                <main
                    class="bg-ctp-mantle px-3 py-2 rounded-lg border-2 border-dashed border-ctp-pink"
                    transition:animate="fade"
                >
                    <slot />
                </main>
                <slot name="right" slot="right" />
            </Container>

            <Container>
                <Footer />
            </Container>
        </div>
    </body>
</html>
