---
import { AUTO_MARGIN } from '../consts';
import '../styles/global.css';

import TransFlag from '../components/TransFlag.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
    title?: string;
    description?: string;
}
---

<!doctype html>
<html lang="en" class="mocha">
    <head>
        <BaseHead {...Astro.props} />
        <slot name="head" />
    </head>
    <body
        class="h-screen w-screen overflow-hidden bg-linear-to-br from-ctp-mantle via-ctp-crust to-ctp-mantle selection:bg-ctp-pink selection:text-ctp-crust"
    >
        <div class="h-full overflow-y-scroll macchiato text-ctp-text text-lg font-display">
            <TransFlag />

            <Header />

            <main class:list={[AUTO_MARGIN, 'my-4']}>
                <div class="bg-ctp-mantle p-3 rounded-lg border-2 border-dashed border-ctp-pink">
                    <slot />
                </div>
            </main>

            <Footer />
        </div>
    </body>
</html>
